<h1>Historique de vente</h1>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-8">
            <app-categorie-carroussel></app-categorie-carroussel>


            
        </div>
        <div class="col-4 position-fixed end-0">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioAlways" checked (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioAlways">
                    Toujours
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioDaily"  (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioDaily">
                    Aujourd'hui
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioWeekly" (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioWeekly">
                    Cette semaine
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioMonthly" (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioMonthly">
                    Ce mois
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioAnnualy" (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioAnnualy">
                    Cette année
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioBtn" id="radioPersonalised" (change)="switchEnabledDateInput($event)">
                <label class="form-check-label" for="radioPersonalised">
                    Personnalisé
                </label>
                <input id="dateInput" type="text" name="daterange" value="" class="form-control" disabled />
            </div>
            <p class="m-3" style="color: green;">Les ventes totale {{this.timeRange}} sont de {{this.histoVenteService.venteTotal}} $</p>
        </div>
    </div>
</div>